<header class="aside-menu">
  <nav class="aside-menu-content">
    <div class="aside-menu-logo">
      <%= image_tag 'logo/logo-branco.svg'%>
    </div>
    <ul class="aside-menu-itens">
      <li>
        <%= image_tag 'icons/house-door-fill.svg',class: 'icons'%>
        <span class="text"><%= 'Pagina Inicial' %> </span>
      </li>
      <li>
        <%= image_tag 'icons/calendar-check.svg', class: 'icons'%>
        <span class="text"> <%= 'Agenda' %></span>
      </li>
      <li>
        <%= image_tag 'icons/clientes.png',class: 'icons'%>
        <span class="text"> <%= 'Clientes' %></span>
      </li>
      <li>
        <%= image_tag 'icons/mensagem.png',class: 'icons' %>
        <span class="text"> <%= 'Mensagens' %> </span>
      </li>
      <li>
        <%= image_tag 'icons/suit-heart-fill.svg',class: 'icons'%>
        <span class="text">  <%= 'Acompanhamento' %></span>
      </li>
      <li>
        <%= image_tag 'icons/apple-icon.png', class: 'icons'%>
        <span class="text"> <%= 'Alimentos' %></span>
      </li>
      <li>
        <%= image_tag 'icons/receitas.png',class: 'icons'%>
        <span class="text"> <%= 'Receitas' %></span>
      </li>
      <li>
        <%= image_tag 'icons/substituição.png',class: 'icons'%>
        <span class="text">  <%= 'Substituições' %></span>
      </li>
      <li>
        <%= image_tag 'icons/models.png',class: 'icons'%>
        <span class="text">  <%= 'Models' %></span>
      </li>
    </ul>
    <div class="aside-menu-footer">
      <ul>
        <li>Agendar Consulta</li>
        <li>Cadastrar cliente</li>
      </ul>
    </div>
  </nav>
</header>
<header class="menu-higher">
  <nav class="menu-higher-content">
    <button class='btn'>
      <%= image_tag 'icons/list.svg', class: 'menu-button'%>
    </button>
    <ul>
      <li class="silence">Silenciar</li>
      <li class="experimental">Período Experimental</li>
      <li class="days">10 dias restantes</li>
      <li class="buy">Asssinar</li>
    </ul>

<!--    <div class="dropdown" id="myDropdown">-->
<!--      <button class="dropdown-button"><%#= @user.full_name %></button>-->
<!--      <div class="dropdown-content">-->
<!--        <a href="https://www.example.com/link1">Link 1</a>-->
<!--        <a href="https://www.example.com/link2">Link 2</a>-->
<!--        <a href="https://www.example.com/link3">Link 3</a>-->
<!--        <a href="https://www.example.com/link4">Link 4</a>-->
<!--        <a href="https://www.example.com/link5">Link 5</a>-->
<!--      </div>-->
<!--    </div>-->

  </nav>
  <section class="page-inf">
    <div class="page-inf-title">
      <h1> Página do profissional</h1>
      <p> Veja as suas próximas consultas e informações sobre a sua atividade </p>
    </div>
    <div class="page-inf-status">
      <span>Status</span>
      <p><time datetime="2023-11-28T12:30:00"><%= @time %></time></p>
    </div>
  </section>
</header>
